# Git
.git
.gitignore

# Node.js
node_modules
npm-debug.log

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.env
*.pyc

# Frontend build
web/build
web/dist

# Backend
server/python/venv

# IDE
.vscode
.idea

# Docker
Dockerfile
.dockerignore

# Misc
.DS_Store
*.swp
*.swo 